.ingridContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.ingrid-text{
    display: flex;
    gap: 420px;
}
.ingrid-text>h1{
    font-size: 24px;
    color: #ffffff;
    letter-spacing:1px;
}
.ingrid-content{
    width: 100%;
    display: flex;
    gap: 50px;
}
.ingrid-info{
    width: 470px;
    display: flex;
    flex-direction: column;
}
.ingrid-global-image{
    width: 100%;
    height: 470px;

}
.ingrid-global-image>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ingrid-info-text{
    display: flex;
    align-items: center;
    font-size: 18px;
    letter-spacing: 0.5px;
    gap: 5px;

}

.text-p-1,.text-p-2{
    margin: 0;
    font-size: 18px;
    color: #ffffff;
}
.ingrid-info-text>img{
    width: 16px;
    height: 16px;
    object-fit: cover;
}
.text-p-2{
    color: #a78d9b;
}
.text-p-2:hover{
    color: #ffbd20;
}
.diraction-image{
    display: flex;
    justify-content: baseline;
}
.diraction-image>img{
    width: 150px;
    height: 150px;

}
.image-block{
    width: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #a78d9b;
  
}
.image-block-img{
    width: 100%;
    height: 235px;
    object-fit: cover;
}
.image-block:hover{
    color: #ffbd20;
}
.image-block-img>img{
    width: 100%;
    height: 100%;
}
.image-block>p{
    font-size: 16px;
   
    letter-spacing: 0.5px;
    margin: 0;
}
.image-blocks{
display: grid;
grid-template-columns: repeat(3,1fr);
}
.ingrid-instructions{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ingrid-instructions>h1{
    color: #ffffff;
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: 600;
}
.ingrid-instructions>p{
    width: 270px;
    font-size: 16px;
    color: #ffffff;
    margin: 0;
    
}
